# SPDX-License-Identifier: Apache-2.0

# General
FUNCTION_NAME=simulation-service
NODE_ENV=dev
MAX_CPU=1
PORT=<port>

# Auth
AUTHENTICATED=false
CERT_PATH_PUBLIC=

# REDIS
REDIS_DATABASE=0
REDIS_AUTH="exampleAuth"
REDIS_SERVERS='[{"host":"127.0.0.1", "port":16379}]'
REDIS_IS_CLUSTER=false
DISTRIBUTED_CACHETTL=300
DISTRIBUTED_CACHE_ENABLED=true

# ELASTIC APM
APM_ACTIVE=false
APM_SERVICE_NAME=simulation-service
APM_URL=
APM_SECRET_TOKEN=

# LOGGING
LOGSTASH_LEVEL=info
SIDECAR_HOST=
